/* 

CREDIT TO:

COLOR INSPIRATION
http://www.colourlovers.com/palette/932683/Compatible

CSS ANIMATION EXCELLENCE
http://codepen.io/seyedi/pen/nCvKA

CSS ANIMATION EXCELLENCE Pt. 2
http://codepen.io/skeurentjes/pen/lerjo

ICONS
https://thenounproject.com/

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	background-color: rgb(235, 235, 235);
}

body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	font-family: 'Montserrat', sans-serif;
}


.quicktour-header {
	border-bottom: 5px solid #FF3D7F;
  height: 85px;
}

.quicktour-footer {
  border-top: 5px solid #FF3D7F;
  height: 85px;
}

.quicktour-footer p {
  float: right;
  padding-right: 10px;
}

.quicktour-header img {
	width: 50px;
  margin-top: 15px;
  margin-left: 40px;
  display: inline-block;
}

.quicktour-header img:last-child {
  border-radius: 50px;
}

.quicktour-header h3 {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
}

.search-container {
  width: 240px;
  padding-top: 38px;
  margin-left: -68px;
}

.cloud img {
	width: 30px;
  margin: 10px;
	display: inline-block;
}

.cloud input, .cloud span {
  display: inline-block;
}

.cloud h3 {
	display: inline-block;
  font-size: 26px;
  vertical-align: bottom;
}

/* Cloud CSS */

.cloud {
  width  : 150px;
  height : 150px;
  margin : 200px auto;
  border-radius : 50%;
  background    : #3FB8AF;
  box-shadow    : 0     10px  5px  -7px #666, 
                  75px   1px  0    -3px #3FB8AF,
                  78px   4px  6px  -5px #666,
                 -77px   1px  0    -3px #3FB8AF,
                 -80px   4px  6px  -5px #666,
                 -26px -50px  0     9px #3FB8AF,
                 -27px -54px  6px   7px #666,
                  53px -50px  0   -18px #3FB8AF,
                  56px -53px  6px -21px #666;
}

/* Animations for homepage and recipe cards */

.animated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
} 

.quicktour-map-container {
  margin-top: 50px;
}

#map {
  margin: 0 auto;
  border-radius: 500px;
  box-shadow: 0px 0px 30px grey;
}

.reload-icon {
  width: 20px;
  float: right;
  cursor: pointer;
}


/* Card CSS */

.card-container {
  height: 650px;
}

.container {
  padding-top: 60px;
  position: relative;
  width: 100%;
  height: 500px;
  
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.col-md-12 .card, .col-md-4:nth-child(2) .card  {
  margin: 0 auto;
}

.col-md-6:first-child  .card, .col-md-4:first-child .card {
  float: right;
}

.card {
  left: 20%;
  width: 250px;
  height: 80%;
  cursor: pointer;
  
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card .front,
.card .back {
  border-radius: 15px;
  display: block;
  width: 100%;
  line-height: 260px;
  color: black;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.card .back {
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
  text-align: left;
  line-height: 25px;
}

.formItem:first-child {
  margin-top: 20px;
}

.card .back label {
  display: inline-block;
  width: 70px;
  text-align: left;
}

.card .front {
  background: #3FB8AF;;
}

.card .back {
  background: #3FB8AF;;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.container:first-child .card .front {
  background: #3FB8AF;;
}

.container:first-child .card .back {
  background: #3FB8AF;;
}

.cardTitle {
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 0;
}

.content {
  text-align: center;
  padding: 4%;
  font-weight: 100;
}

.content img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.content p {
  font-size: 20px;
}

.content a {
  font-size: 24px;
  color: #FF3D7F;
  padding-top: 15px;
  padding-bottom: 15px;
}

.quicktour-map-container, .quicktour-card-container {
  display: none;
}

.no-results {
  text-align: center;
  padding-top: 20px;
}